parameters:
    paths:
        - .
    level: max
    parallel:
        processTimeout: 300.0
    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Call to an undefined method Sylius\\Component\\User\\Model\\UserInterface\:\:isAccountNonExpired\(\)\./'
        - '/Call to an undefined method Sylius\\Component\\User\\Model\\UserInterface\:\:isAccountNonLocked\(\)\./'
        - '/Call to an undefined method Sylius\\Component\\User\\Model\\UserInterface\:\:isCredentialsNonExpired\(\)\./'
        - '/PHPDoc tag @param for parameter .* contains generic type .* but interface .* is not generic\./'
        - '/PHPDoc type for property .* contains generic type .* but interface .* is not generic\./'
        -
            identifier: missingType.iterableValue
